<!DOCTYPE html>
<html>
  <head>
    <title>Median</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:400,500,700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('median_favicon.jpg') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
